@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'sidepanel';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
