.title {
  position: relative;
  font-size: 4rem;
  font-weight: 1000;
  color: #0EA5E9;
  --webkit-text-stroke: 10px #0EA5E9;
}

.title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  --webkit-text-stroke: 0vw white;
  border-right: 2px solid white;
  overflow: hidden;
  animation: animate 2s linear;
}

@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  } 
  70%, 90% {
    width: 100%;
  }
  
}

@media (max-width: 992px) {
  .title {
    font-size: 2.5rem;
    --webkit-text-stroke: 6px #0EA5E9;
  }
}